div.gallery {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: #576366;
  background: rgba(122, 133, 153,0.4);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: #404040;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3b80d1;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}


.btn-demo {
  font-size: .85em;
  color: #3b80d1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  margin-right:10px;
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 95%;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: #576366;
  margin-bottom: 2em;
}
.main-content {
  padding: 1em 2em;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.skill {
  margin-bottom: 2em;
}

/* IMAGES -------- */

.skill-img {
  width: 70px;
  margin-top: 30px;
}

.ambassador-img {
  width: 100%;
  border-radius: .3em;
}

.not-found {
  text-align: center;
}

/* MAIN NAV -------- */
.main-nav{
    display: flex;
    flex-wrap: wrap;
}

.main-nav a {
  font-size: .95em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}

.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #3b80d1;
}

/* COURSE NAV -------- */

.skill-nav li {
  display: inline-block;
}
.skill-nav li + li {
  margin-left: .6em;
}
.skill-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.skill-nav a:hover,
.skill-nav a.active {
  color: #fff;
  background: #39add1;
}

/* ICONS -------- */

.icn-logo {
  background: #54606b;
  color: #fff;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;
  margin-top: 30px;
}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}


body {
  padding-top: 3em;
}
.home a {
/*  border-color: #252525;
  color: #252525;
  opacity: 0.8;*/
}
.media img,
.media > div,
.ambassador {
  float: left;
}
.media > div {
  width: 85.1%;
  margin-left: 1.5em;
} 
.ambassador {
  width: 48.73%;
  margin-bottom: 1.5em;
}
.ambassador + .ambassador {
  margin-left: 2.54%;
}
.ambassador:nth-child(2n+3) {
  clear: left;
  margin-left: 0;
}
/* MAIN NAV -------- */
.icn-logo {
  margin-right: auto;
  padding: 0 2em;
}
header,
.main-nav {
  display: flex;
  flex-wrap: wrap;
}
.main-nav a {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  padding: 1.25em 1.5em;
}
.main-nav a:hover {
  border-color: rgba(0,0,0, .1);
}
/* COURSE NAV -------- */
.skill-nav {
  float: right;
} 
.skills h2 {
  float: left;
}
